@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;1,300;1,400;1,500;1,700&family=Bellefair&display=swap');


#crew {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-image: url('../space-tourism-website-main/space-tourism-website-main/starter-code/assets/crew/background-crew-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    /* overflow-y: hidden; */
}

.crew-header {
    font-family: 'Barlow Condensed';
    margin-top: 12rem;
    margin-left: 10rem;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 5px;
}

.crew-span {
    font-family: 'Barlow Condensed';
    margin-right: 10px;
    font-weight: bold;
    color: grey;
}
.crew-part {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.crew-info {
    display: flex;
    margin-left: 10rem;
    margin-top: 5rem;
}

.crew-about {
    font-family: 'Bellefair';
}

.crew-job {
    text-transform: uppercase;
    font-weight: 100;
    color: grey;
}
.crew-name {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 3rem;
    margin-top: 0.5rem;
}

.crew-paragraph {
    width: 400px;
    color: #D0D6F9;
    font-family: 'Barlow';
    margin-top: 0.5rem;
    font-size: 16px;
}

.crew-image {
    position: absolute;
    bottom: 0;
    right: 10rem;
    width: 400px;
}
.crew-btns {
    /* position: absolute; */
    display: flex;
    gap: 1rem;
    margin-top: 5rem;
    margin-left: 10rem;
    /* bottom:10rem;
    left: 10rem; */
}

.crew-btn {
    width:10px;
    height: 10px;
    background-color:#979797;
    border-radius: 50%;
    border:none;
    cursor: pointer;
}

.crew-btn:hover {
    background-color: white;
    cursor: pointer;
}

@media screen and (min-width: 767px) and (max-width: 1010px)  {
    #crew {
        background-image: url('../space-tourism-website-main/space-tourism-website-main/starter-code/assets/crew/background-crew-tablet.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
    }

    .crew-header {
        margin-top: 8rem;
        margin-left: 4rem;
    }
    

    .crew-part {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }
   
    .crew-info {
        margin: 0 auto;
        margin-top: 5rem;
        padding-bottom: 3rem;
    }

    .crew-image {
        position: absolute;
        bottom: 0;
        left: 35%;
        width: 350px;
    }
 
    .crew-job {
        text-align: center;
        font-size: 2rem;
    }
    .crew-name {
        text-align: center;
    }
    
    .crew-paragraph {
        text-align: center;
        margin: 0 auto;
        margin-top: 1rem;
    }

    .crew-btns {
        /* position: absolute; */
        display: flex;
        gap: 1rem;
        margin: 0 auto;
    }

}

@media screen and (max-width: 767px) {
    #crew {
        background-image: url('../space-tourism-website-main/space-tourism-website-main/starter-code/assets/crew/background-crew-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height:  auto;
        padding-bottom: 40rem;
    }

    .crew-header {
       margin: 0 auto;
       margin-top: 7rem;
       font-size: 1rem;
    }

    .crew-part {
        display: flex;
        margin: 0 auto;
    }
    .crew-info {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }

    .crew-about {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 26rem;
    }
    .crew-job {
        text-align: center;
        font-size: 1.2rem;
    }
    .crew-name {
        font-size: 1.8rem;
        text-align: center;
    }
    
    .crew-paragraph {
        text-align: center;
        margin: 0 auto;
        margin-top: 1rem;
        width: 220px;
    }

    
    .crew-image {
        margin: 0 auto;
        top: 12rem;
        border-bottom: 1px solid grey;
        left: 10rem;
        width: 250px;
    }

    .crew-btns {
        display: flex;
        gap: 1rem;
        margin: 0 auto;
        margin-top: -17rem;
        padding-bottom: 8rem;
    }
}


@media screen and (max-width: 500px) {

    .crew-about {
        margin-top: 20rem;
    }
    .crew-image {
        width: 200px;
      left: 5rem;
    }
}